@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans font-light;
  padding: 0;
  margin: 0;
}

h1 {
  @apply text-4xl lg:text-5xl font-bold leading-relaxed lg:leading-loose font-cursive;
}

h2 {
  @apply text-3xl lg:text-4xl font-bold leading-relaxed lg:leading-loose font-cursive;
}

h3 {
  @apply text-xl lg:text-2xl font-bold leading-relaxed lg:leading-loose;
}

/* .customFont {
} */

a {
  color: inherit;
  text-decoration: none;
}

nav a {
  @apply font-cursive;
}

* {
  box-sizing: border-box;
}

/* Accordian styles */
.accordion {
  border: 1px solid;
  border-color: #1e3a8a;
}

.accordion__item+.accordion__item {
  border-top: 1px solid #1e3a8a;
}

.accordion__button {
  color: black;
  font-family: "Inter", "sans-serif";
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  display: block;
  position: relative;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:after {
  content: "+";
  text-align: right;
  height: 10px;
  float: right;
  margin-left: 12px;
  font-size: 1.5em;
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
  transform: rotate(-45deg);
  margin-right: 12px;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  border-top: 5px solid;
  border-color: #1e3a8a;
  font-family: "Inter", "sans-serif";
  font-weight: 500;
  color: black;
}

/* courseCard */
.hoverCard:hover .card-image {
  @apply scale-110 duration-300;
}

header,
.bg-squares {
  background-image: url('../../public/interface/squares.svg');
  background-repeat: no-repeat;
  background-position: 20% 20%;
  background-size: 150px;
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  @apply bg-blue-800;
  visibility: hidden;
  width: max-content;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Skip to content */
.skip-to-content-link {
  @apply bg-blue-800 text-white-100;
  /* height: 30px; */
  left: calc(50% - 77.5px);
  padding: .5rem 8px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  @apply border-blue-600 border-2;
  transform: translateY(0%);
}

@media screen and (max-width: 600px) {
  .mobilehide {
    display: none;
  }

  .mobilecolumn {
    flex-direction: column;
  }

}
@media screen and (max-width: 565px) {
  .accordion__button:after
  {
    top: 12px;
    right: 8px;
    position: absolute;
  }


}